// Originally from http://tobiasahlin.com/spinkit/, which is great!
.loading-spinner {
  width: 100px;
  text-align: center;
}

.loading-spinner > div {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-spinner .bounce1 {
  animation-delay: -0.32s;
}

.loading-spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
    opacity: 0.1;
  } 40% { 
    transform: scale(1.0);
    opacity: 0.9;
  }
}