@import "variables";
@import "pure";
@import "pure-grids-responsive";
@import "responsive-helpers";
@import "loading-spinner";
@import "typography";
@import "transitions";
@import "image-select";

// ==================
// = General Styles =
// ==================

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  min-width: 320px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-background-color;
  &,
  & .pure-g [class*="pure-u"] {
    font-family: helvetica;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1em;

  @media (max-width: $max-width-sm) {
    padding: 0;
  }

  &.homepage {
    max-width: 80em;
    padding-bottom: 3em;
  }
  &.chapter {
    max-width: 50em;
    padding-bottom: 3em;
    margin-bottom: 100px;
  }
}

@each $size, $margin in ("small": 1em, "medium": 2em, "large": 3em, "huge": 4em) {
  .row-gap-#{$size} {
    margin-top: $margin;
  }
}

.pull-right {
  float: right;
}
// Add grid cell horizontal padding
div[class*="pure-u-"] {
  padding-left: 1em;
  padding-right: 1em;
}

hr {
  color: #cccccc;
  height: 1px;
  margin: 1.5em 0;
}

// ===================
// = Page Transition =
// ===================

$page-transition-easing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
$page-transition-slide-distance: 20px;
$page-transition-duration: 1s;

.page-enter {
  opacity: 0.01;
  transition: opacity $page-transition-duration/2 $page-transition-easing-function,
    transform $page-transition-duration/2 $page-transition-easing-function;
  transform: translateY($page-transition-slide-distance);
}

.page-enter.page-enter-active {
  opacity: 1;
  transform: translateY(0px);
}

.page-leave {
  opacity: 1;
  transition: opacity $page-transition-duration/2 $page-transition-easing-function,
    transform $page-transition-duration/2 $page-transition-easing-function;
  transform: translateY(0px);
}

.page-leave.page-leave-active {
  opacity: 0;
  transform: translateY(-1 * $page-transition-slide-distance);
}

// ====================================
// = Loading Overlay and Intro Styles =
// ====================================

@keyframes "heartpulse" {
  0% {
    transform: scale(1);
  }
  49% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $chalees-red;
  z-index: 10000000;
  color: darken(white, 3%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}
.loading-overlay-heart {
  $height: 377px;
  animation: heartpulse 2s ease-out infinite;
  height: $height;
  @media (max-width: $max-width-sm) {
    height: $height * 0.75;
  }
}
.loading-overlay-logo {
  $height: 34px;
  margin-top: 1em;
  height: $height;
  @media (max-width: $max-width-sm) {
    height: $height * 0.85;
  }
}
.loading-overlay-message {
  font-size: 1.5em;
  @media (max-width: $max-width-sm) {
    font-size: 1.2em;
  }
  text-align: center;
  margin: 1em 0 1.5em 0;
}
.loading-overlay.fade-out-leave {
  opacity: 1;
}
.loading-overlay.fade-out-leave.fade-out-leave-active {
  opacity: 0;
  transition: opacity 250ms linear;
}

// Scale everything down a bit on mobile
@media (max-width: $max-width-sm) {
  .loading-overlay img {
  }
}

// =========================
// = Navigation Bar Styles =
// =========================

.header {
  background-color: white;
  border-bottom: 2px solid $chalees-red;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.main-nav {
  $height-desktop: 3.5em;
  $height-mobile: 3em;
  $header-text-color: black;

  height: $height-mobile;
  color: $header-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pure-menu-link {
    color: $header-text-color;
    height: $height-mobile;
    line-height: $height-mobile;
    padding-top: 0;
    padding-bottom: 0;

    // TODO: try to achieve font weight 500
    font-weight: 500;
    &:hover,
    &:active,
    &:focus {
      background-color: darken(white, 5%);
    }
  }

  .header-brand {
    // TODO: reconcile
    display: inline-block;

    text-decoration: none;

    .header-brand-logo {
      height: 1.18em;
      width: auto;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  & > .pure-menu-list > .pure-menu-item {
    $border-color-hover: #bbb;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    &:hover {
      border-color: $border-color-hover;
    }
  }

  .pure-menu-children {
    $border-color: #bbb;
    border: 1px solid $border-color;
    border-top-width: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

    & .pure-menu-item {
      border-bottom: 1px solid lighten($border-color, 7%);

      &:last-child {
        border-bottom: none;
      }
    }

    // Right align dropdown menu children since the user menu is pulled right
    left: inherit;
    right: -1px; // the top menu has a border, so account for that
  }

  // Use a larger header on desktop widths...
  @media (min-width: 48em) {
    height: 3.5em;
    .header-brand .header-brand-logo {
      height: 1.4em;
    }
    .pure-menu-link {
      height: $height-desktop;
      line-height: $height-desktop;
    }
  }

  // ...And a smaller logo on small phones
  @include media-phone {
    .header-brand .header-brand-logo {
      height: 1.1em;
    }
  }

  // Very small phone screen special accomodations. A bit too one-off.
  @media (max-width: 25em) {
    .header-brand .header-brand-logo {
      height: 1em;
      position: relative;
      top: -1px;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $body-background-color;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 67px;
  width: 100%;
  span,
  span > a {
    display: inline-block;
  }
  a,
  :hover,
  :active {
    background-color: transparent;
  }
}

// ===================
// = Homepage styles =
// ===================

.live-banner {
  text-decoration: none;
  display: block;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: fade-out($chalees-purple, 0.3);
  color: white;
  transition: opacity 0.2s ease, height 0.5s ease, background-color 0.25s ease;
  opacity: 1;
  width: 350px;
  max-width: 90%;
  border-radius: 25px;
  transform: translateY(40px);

  &:hover {
    background-color: $chalees-purple;
  }

  &.live-banner-invisible {
    height: 0px;
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.homepage-background-hack {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // prettier breaks the line below because it interprets the comma as a sign of a multi-argument
  // function and adds a line break
  // prettier-ignore
  background-image: url(https://chalees-min.imgix.net/homepage-v2.png?w=1000&fit=clip&auto=format,compress);
  background-size: cover;
}

// hacktacular!
.home-nav {
  background: transparent;
  justify-content: flex-end;

  .pure-menu-link:hover,
  .pure-menu-link:active,
  .pure-menu-link:focus,
  .pure-menu-children {
    background-color: #dddddd; // similar to the picture sky color
  }
}

.homepage-footer {
  background-color: transparent;
  &,
  a {
    color: $body-background-color;
  }
}

// Awful, awful hack because this page is being rebuild from scratch soon
.homepage-footer-open {
  &::before {
    content: "";
    height: 50vh;
    width: 100%;
    background-color: $body-background-color;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.homepage-user-menu-container {
  position: absolute;
  top: 0;
  right: 0;
}

.homepage-banner-area {
  height: calc(100vh - 210px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.5s ease;
  margin-top: 50px;

  &.liveClassButtonIsVisible {
    @include media-phone {
      margin-top: 10px;
    }
  }

  &.open {
    height: 240px;

    @include media-phone {
      height: 340px;
    }
  }
}

.homepage-grade-section {
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  background-color: $body-background-color;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;

  .homepage-grade-section-body {
    width: 100%;
    max-width: 80em;
    padding: 30px 15px;
    min-height: 300px;
    margin-bottom: 30px;
  }

  &.homepage-grade-section-invisible {
    opacity: 0;
    pointer-events: none;
    height: 0;
  }

  &.homepage-grade-section-visible {
    min-height: calc(100vh - 300px);
    opacity: 1;
  }

  .not-selected-chapter {
    display: none;
  }
}

.homepage-title-primary {
  text-align: center;
}

.homepage-title-secondary {
  text-align: center;
  font-size: 24px;

  @include media-tablet-and-smaller {
    font-size: 20px;
  }
}

.homepage-grade-choices {
  padding: 30px 20px 0;
  display: block;

  button {
    margin: 10px 16px;
    height: 45px;

    @include media-phone {
      width: 100%;
      margin: 5px 0;
    }
  }
}

.homepage-logo {
  max-width: 90%;
}

.homepage-tile {
  margin-bottom: 30px;

  @include media-phone {
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
  }
}
.homepage-tile-content {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}
.homepage-tile-picture-container {
  overflow: hidden;
}
.homepage-tile-picture {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.homepage-tile:hover .homepage-tile-picture {
  transform: scale(1.1);
}
.homepage-tile-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  min-height: 2.5em;
  padding: 0.4em 0.5em;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.homepage-tile-chapter-number {
  font-size: 0.8em;
  color: darken(white, 10%);
  position: absolute;
  left: 0;
  top: 0;
  height: 2em;
  line-height: 2em;
  padding: 0 0.75em;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

// =======================
// = Chapter Page Styles =
// =======================

.chapter-title {
  text-align: left;
  margin: 1em 0;

  @include media-tablet-and-smaller {
    margin: 20px;
  }
}

.learning-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 3em;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 12px 1px transparentize(black, 0.7);
  position: relative;

  .learning-item-section {
    padding: 1.25em 1.25em;
  }

  @include media-tablet-and-smaller {
    border-right: none;
    border-left: none;
    border-radius: 0;
    margin-top: 1.75em;
  }

  &.first-item {
    margin-top: 0;
  }

  // Locked learning item that requires completion to access;
  .learning-item-lock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    .learning-item-lock-message {
      text-align: center;
      padding: 1.5em;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      color: white;
      max-width: 70%;
    }
    z-index: 1000;
  }

  /* Timer Overlay */
  .learning-item-timer-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;

    & > div {
      text-align: center;
      padding: 1.5em;
      background-color: rgba(0, 0, 0, 0.95);
      border-radius: 5px;
      color: white;
      max-width: 70%;
    }
  }

  .timer-seconds-remaining {
    display: inline-block;
    width: 92px;
    font-weight: bold;
    color: $chalees-purple;
  }
}

.learning-item-header {
  display: flex;
  align-items: center;
}

.learning-item-time {
  margin-left: 1em;
  min-width: 4em;
  padding: 0.5em 0;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $chalees-purple;
}

// Login gate that covers interactive widgets for signed-out users
.login-gate-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  color: transparent;

  transition: all 0.1s ease-in;

  &:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
  }

  z-index: $login-gate-overlay-z-index;
}

// Locked hack feedback on a learning item
.hack-feedback-container {
  $section-background-color: #f7f7f7;

  .hack-feedback-preface {
    display: flex;
    align-items: flex-start;
  }

  &.hack-feedback-before-body {
    .learning-item-section {
      padding: 0;
      padding-bottom: 1.5em;
    }
    // Locked ui is disabled for before-body feedback as it's unneeded
    // and annoying to style
    .hack-feedback-lock {
      height: 0;
    }
  }
  &.hack-feedback-after-body {
    .hack-feedback {
      border-top: 1px solid #ccc;
      background-color: $section-background-color;
    }
  }
  .hack-feedback-lock-fader {
    display: none;
  }
  .hack-feedback-lock {
    $height: 225px;
    height: $height;
    overflow-y: hidden;
    position: relative;

    .hack-feedback-lock-fader {
      display: block;
      text-align: center;
      padding-top: $height * 0.8;
      color: hsl(0, 0, 30%);
      font-style: italic;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2) 0%,
        $section-background-color 80%,
        $section-background-color 100%
      );
    }
  }

  .hack-feedback-preface-image {
    align-self: flex-start;
  }

  .hack-feedback-preface-text {
    align-self: center;
  }

  .peer-response {
    margin: 1em 1em 0 1em;
    display: flex;

    .peer-image {
      align-self: flex-start;
    }

    .peer-response-text {
      align-self: center;
    }
  }
}

// Image response learning items
// -----------------------------

.image-upload-dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Multiple Choice Learning Items
// ------------------------------

.learning-item {
  .choices {
    display: flex;
    flex-wrap: wrap;
    min-height: 5em;
    justify-content: space-between;
  }

  .choice {
    min-height: 8em;
    outline: none;
    background-color: white;
    border: 2px solid hsl(0, 0, 70%);
    padding: 1em 2em;
    transition-property: background-color, border, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    margin: 0.5em 0;

    @include media-laptop-and-larger {
      flex: 1;
      & + .choice {
        margin-left: 1em;
      }
    }

    @include media-tablet {
      width: 48%;
      min-height: 7em;
    }

    @include media-phone {
      width: 100%;
      min-height: 4em;
    }

    &.selected {
      background-color: lighten($chalees-purple, 50%);
      border: 2px solid $chalees-purple;
    }

    &[disabled] {
      color: #aaa;
      border: 2px solid hsl(0, 0, 85%);
    }
  }
  .multiple-choice-selection-feedback {
    display: flex;
    align-items: flex-start;

    // Workaround for the paragraph margins
    > .markdown > p:first-child {
      margin-top: 0;
    }

    .feedback-text {
      align-self: center;
    }
  }
}

// =========
// = Forms =
// =========

.pure-input {
  border: 1px solid hsl(0, 0, 75%);
}

// ===========
// = Utility =
// ===========

// Responsive
@include media-phone {
  .hidden-xs {
    display: none !important;
  }
}

@include media-tablet {
  .hidden-sm {
    display: none !important;
  }
}

@include media-laptop {
  .hidden-md {
    display: none !important;
  }
}

@include media-desktop {
  .hidden-lg {
    display: none !important;
  }
}

@include media-desktop-large {
  .hidden-xl {
    display: none !important;
  }
}

// Layout
.content-vertical-center {
  display: flex;
  align-items: center;
}
.content-horizontal-center {
  display: flex;
  justify-content: center;
}
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Text

.text-success {
  color: #3f823e;
}

.text-error {
  color: #d95d00;
}

// =================
// = Button Styles =
// =================

.pure-button {
  $button-color: $chalees-purple;
  $border-width: 2px;
  transition: all 0.15s linear;
  border: $border-width solid $button-color;

  &:disabled {
    border: $border-width solid transparent;
  }

  &,
  &:focus {
    background-color: white;
    background-image: none;
  }

  &:hover,
  &:active,
  &.active {
    color: white;
    background-color: $button-color;
  }

  // Additional button variations
  &.button-secondary {
    $button-color: hsl(0, 0, 50%);
    border: 2px solid $button-color;
    color: hsl(0, 0, 20%);
    border: 2px solid $button-color;

    &,
    &:focus {
      background-color: white;
    }

    &:hover,
    &:active {
      color: white;
      background-color: $button-color;
    }
  }
}

// ================
// = Modal Styles =
// ================

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 3em;
  max-width: 1000px;
  max-height: 700px;
  border: 1px solid #555;
  background: $body-background-color;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 3px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $modal-z-index;

  @include media-tablet-and-smaller {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    border: none;
    transform: none;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 32px;
    opacity: 0.25;

    &:hover {
      opacity: 1;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: $modal-overlay-z-index;
}

.ReactModal__Body--open {
  overflow: hidden;
}

// ===================
// = Markdown Styles =
// ===================

.markdown img {
  max-width: 100%;
}

// ================
// = Contact Page =
// ================

.contact-message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 2.5em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.025em;

  .contact-email {
    font-size: 1.5em;

    @include media-phone {
      font-size: 1.3em;
    }
  }

  @include media-phone {
    font-size: 1.25em;
  }

  @include media-tablet {
    font-size: 1.75em;
  }
}

.contact-background {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: calc(100% + 100px);
  height: 100%;
  z-index: -1;
  transform: translateX(-50px);
}

.contact-enter {
  transform: translateX(0px);
  opacity: 0.01;
  transition: opacity 1800ms ease-out, transform 2000ms ease-out;
}

.contact-enter.contact-enter-active {
  opacity: 1;
  transform: translateX(-50px);
}

.contact-leave {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}

.contact-leave.contact-leave-active {
  opacity: 0.01;
}

// ===============================
// = Temporary Hacktacular Hacks =
// ===============================

.container.chapter > .pure-g > .pure-u-1 {
  padding-left: 0;
  padding-right: 0;
}

/* Flash text red */
@keyframes "flash-red" {
  from {
    text-shadow: 0 0 0.3em $chalees-red;
  }
  to {
    text-shadow: none;
  }
}

.flash-red {
  color: $chalees-red !important;
  animation: "flash-red" 1s ease-in-out infinite;
}
