@each $size, $margin in ('small': 2em, 'medium': 4em, 'large': 6em, 'huge': 8em) {
  .row-gap-#{$size} {
    margin-top: $margin;
  }
}

.pull-right {
  float: right;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.main-nav {
  $background: #DB3B0B;
  height: 34px;
  background-color: $background;
  color: white;
  
  .pure-menu-link {
    color: white;
    &:hover {
      background-color: lighten($background, 4%);      
    }
    
    &:active, &:focus {      
      background-color: lighten($background, 8%);
    }
  }
  
  .pure-menu-children {
    background-color: $background;
  }
}