.fade-switch-enter {
  opacity: 0.01;
  transform: translateY(20px);
}

.fade-switch-enter.fade-switch-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);;
}

.fade-switch-leave {
  transform: translateY(0px);
  opacity: 1;
}

.fade-switch-leave.fade-switch-leave-active {
  opacity: 0.01;
  transform: translateY(20px);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);;
}

.fade-switch-appear {
  transform: translateY(20px);
  opacity: 0.01;
}

.fade-switch-appear.fade-switch-appear-active {
  transform: translateY(0px);
  opacity: 1;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);;
}