.fade-switch-enter {
    opacity: 0.01;
}
.fade-switch-enter.fade-switch-enter-active {
    opacity: 1.0;
}
.fade-switch-leave {
    /* Completely hide the button while it's being animated and before it's removed from the DOM. 
    visibility: hidden;
    height: 0px;
    width: 0px;
    */
    /* Starting opacity */
    opacity: 1.0;
}
.fade-switch-leave.fade-switch-leave-active {
    /* Ending opacity: 
    Trigger opacity change so the "transitionend" event will fire, causing React to remove from the DOM. */
    opacity: 0;
}