body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h2 {
  font-weight: 500;
}

// responsive typography on mobile
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 0.9em;
  font-weight: bold;
}

// responsive typography on desktop
@media (min-width: 48em) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1em;
    font-weight: bold;
  }
}
